<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Sobre o site</title>
</head>
<body>
    
{% extends 'time/base.html' %}

{% block conteudo %}
<h2 class="mb-3">Sobre o Site</h2>
<p>Este site foi criado para divulgar informações sobre a série <strong>La Casa de Papel</strong> e seu elenco principal.</p>

<h3>Autores:</h3>
<ul class="list-group list-group-flush">
    {% for autor in site_info.autores %}
    <li class="list-group-item bg-dark text-light">{{ autor }}</li>
    {% endfor %}
</ul>
{% endblock %}

</body>
</html>